.main {
  width: 100%;
}

.BookLine{
  display: grid;
  grid-template-columns: repeat(5,auto);
  gap: 20px;
}
h2{
  text-align: center;
}
.Book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 5px 20px orange;
  border-radius: 20px;
}