* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  height: auto;
}

.navbar {
  /* border: 1px solid red; */
  height: 90px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  
}

.pageLink {
  display: flex;
  gap: 40px;
  padding: 0px 12px;
  
}

h4 {
  border: 1px solid lightgray;
  padding: 10px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
}

Link {
  text-decoration: none;
}

button {
  padding: 12px 18px;
  background-color: transparent;
  border: 2px solid lightgrey;
  border-radius: 8px;
  font-weight: 800;

}


button:hover {
  padding: 12px 18px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: 800;
  color: black;
  
}



